@import './scss/normalize';

html, body, .mount {
    height: 100%;
}

body {
    background: url('./assets/whitehouse.jpg');
    background-size: cover;
    background-position: center center;
    background-color: $grey-lighter;
    font-family: $font;

    &.body--grey { background-color: $grey-light; }

    &.body--red {
        background: url('./assets/hell.jpg');
        color: white;
        font-family: 'Permanent Marker', cursive;
        text-shadow: 0 2px 4px rgba(black, 0.5);

        .candidate {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                z-index: -1;
                top: 15vh;
                width: 50vh;
                height: 50vh;
                background: url('./assets/devil-horns.png');
                background-size: cover;
                background-position: center center;
            }
        }

        .candidate__image {
            width: 40vh;
            height: 40vh;
            animation: shake 300ms alternate infinite linear;
            @keyframes shake {
                0% { transform: rotate(10deg); }

                100% { transform: rotate(-10deg); }
            }
        }
    }
}

.form-element {
    & + & {
        margin-top: 1.4em;
    }
}

.content { background-color: white; }

.no-script {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: $grey-light;

    h1 {
        max-width: 300px;
        padding: 2em;
        border-radius: 3px;
        border: 1px solid $grey;
        background-color: white;
        font-weight: 500;
        font-size: $size2;
    }

    a {
        color: $orange;
        font-size: $size0;
    }
}
